/* This means "select everything" */
*{
	font-family: 'Roboto', sans-serif; /* changes the font of our text */
}


h1{
	text-align:center; /* center the text */
}

p{
	font-size: 18px;
	line-height: 150%; /* controls spacing between lines (of text) */
}

h3{
	font-size:30px;
	text-transform: uppercase; /* Transforms our text, we're making it uppercase in this case.
	 Other values can be applied */
}


/* Apply these styles to both h3 and h4 */

h3,h4{
	font-weight:400;
}

/* Apply these style to every tag that has a class of "headers-3" */

.headers-3{
	color: #3391FF;
}

li{
	font-size:18px;
	color: #000;
	line-height: 150%;
}

h4{
	font-size:25px;
}

a{
	text-decoration: none; /* Changes decoration of the text. It removes the underline 
	from the a tag. This property can decorate the text in other ways. 
	Check W3schools or MDN for more */ 
	color:white;
}

/* Select tag that has an id of "facebook" */

#facebook{
	border:1px solid #3f5c9a;
	background-color:#3f5c9a;
}

/* Select tag that has an id of "twitter" */

#twitter{
	border:1px solid #53a5e4; /* border : border-width border-style border-color */
	background-color:#53a5e4;
}

div{
	border:10px solid lightgray;
	padding:10px 15px;
	width:80%;
	margin:30px auto; /* margin : margin-vertical margin-horizontal; */
	background-color: white;
}

div p{
	padding-left:30px;
}


/* 
----Challenges---

1) Add a text-shadow property to the h1.
2) Cross out the first li in your ordered list.
